
#bars {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#spinner {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(179,179,179,0.7);
}

.htmx-request {
   display: block!important;
}

.htmx-indicator {
    display: none;
}

.fail {
    color: tomato;
    font-size: 1.5em;
}

.success {
    color: lightgreen;
    font-size: 1.5em;
}

.storelinks {
    list-style: none;
    padding: 0px;
}

.store-link {
    display: flex;
    flex-direction: row;
    gap: 10px;
}