
#bars {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#spinner {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(179,179,179,0.7);
}

.htmx-request {
   display: block!important;
}

.htmx-indicator {
    display: none;
}

.fail {
    color: tomato;
    font-size: 1.5em;
}

.success {
    color: lightgreen;
    font-size: 1.5em;
}

.storelinks {
    list-style: none;
    padding: 0px;
}

.store-link {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    width: 50%;
    padding: 20px;
    border: solid white 2px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    background-color: var(--accent);;
}

.store-link:hover {
    border: solid lightskyblue 2px;
    text-decoration: none;
}

.store-link:visited {
    color: white;
}